@use '../../styles/foundations/variables' as *;

.ui-footer {
    background-color: var(--footer-bg);
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-color: var(--footer-border);
    border-top-width: 1px;
    margin-top: 5rem;

    .ui-footer__inner {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        max-width: 80rem;
        margin-left: auto;
        margin-right: auto;

        .ui-footer__header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 3rem;
            align-items: flex-start;
            flex-direction: column;
            gap: 2rem;

            .ui-footer__brand {
                display: flex;
                gap: 0.5rem;
                align-items: center;

                .ui-footer__icon-box {
                    border-radius: 0.125rem;
                    color: var(--white);
                    padding: 0.375rem;
                    background-color: var(--primary);

                    .ui-footer__brand-icon {
                        font-size: 1.25rem;
                        line-height: 1.75rem;
                        display: block;
                    }
                }

                .ui-footer__title {
                    letter-spacing: -0.05em;
                    text-transform: uppercase;
                    font-weight: 800;
                    font-size: 1.25rem;
                    line-height: 1.75rem;
                    margin: 0;
                }
            }

            .ui-footer__socials {
                display: flex;
                gap: 2rem;

                .ui-footer__social-link {
                    color: var(--muted);
                    transition-duration: 150ms;

                    &:hover {
                        color: var(--primary);
                    }
                }
            }
        }

        .ui-footer__grid {
            display: grid;
            margin-bottom: 3rem;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            border-color: var(--footer-divider);
            padding-top: 3rem;
            border-top-width: 1px;
            gap: 2rem;

            .ui-footer__column {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .ui-footer__column-title {
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 0.875rem;
                    line-height: 1.25rem;
                    margin: 0;
                }

                .ui-footer__link {
                    color: var(--slate);
                    font-size: 0.875rem;
                    line-height: 1.25rem;

                    &:hover {
                        color: var(--primary);
                        transition: 150ms ease;
                    }
                }
            }
        }

        .ui-footer__legend {
            text-align: center;
            color: var(--muted);
            font-size: 0.75rem;
            line-height: 1rem;
            padding-top: 2rem;
            border-color: var(--footer-divider);
            border-top-width: 1px;
        }
    }
}

@media (min-width: 768px) {
    .ui-footer {
        .ui-footer__inner {
            .ui-footer__header {
                align-items: center;
                flex-direction: row;
            }

            .ui-footer__grid {
                grid-template-columns: repeat(4, minmax(0, 1fr));
            }
        }
    }
}