@use'../../styles/foundations/variables' as *;

.ui-main__header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-width: 3px;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-color: var(--primary);

    .ui-main__heading {
        letter-spacing: -0.05em;
        font-style: italic;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 0;
    }

    .ui-main__filters {
        display: flex;
        gap: 1rem;

        .ui-main__filter-button {
            position: relative;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 0.75rem;
            line-height: 1rem;
            cursor: pointer;
            color: var(--black);
            transition: all 0.25s ease;

            &::after {
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: -6px;
                width: 0%;
                height: 2px;
                background: var(--primary);
                transition: width 0.3s ease;
            }

            &:hover {
                color: var(--primary);
            }

            &:hover::after {
                width: 100%;
            }
        }
    }
}