<pre class="ui-code-block"><code>npm run build</code></pre>

<figure class="ui-code-block">
    <figcaption class="ui-code-block__caption">
        Build command
    </figcaption>

    <div class="ui-code-block__header">
        <span class="ui-code-block__filename">package.json</span>
        <span class="ui-code-block__language">json</span>
    </div>

    <pre class="ui-code-block__pre"><code class="ui-code-block__code">{
  "scripts": {
    "build": "sass src/styles/main.scss dist/css/sayui.css"
  }
}</code></pre>
</figure>

<figure class="ui-code-block ui-code-block--terminal">
    <div class="ui-code-block__header">
        <span class="ui-code-block__filename">Terminal</span>
        <span class="ui-code-block__language">shell</span>
        <button class="ui-code-block__copy" type="button">Copy</button>
    </div>

    <pre class="ui-code-block__pre"><code class="ui-code-block__code">$ npm run build</code></pre>
</figure>

<figure class="ui-code-block ui-code-block--compact ui-code-block--wrap">
    <figcaption class="ui-code-block__caption">
        Long command
    </figcaption>

    <pre class="ui-code-block__pre"><code class="ui-code-block__code">npm install sayui --save-dev --ignore-scripts --prefer-offline --fund=false</code></pre>
</figure>
