<table class="ui-table">
    <thead>
        <tr>
            <th scope="col">Feature</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Compiled CSS</td>
            <td>Supported</td>
        </tr>
    </tbody>
</table>

<div class="ui-table__wrapper">
    <table class="ui-table ui-table--responsive">
        <caption class="ui-table__caption">
            Browser support matrix
        </caption>
        <thead>
            <tr>
                <th scope="col">Browser</th>
                <th scope="col">Version</th>
                <th scope="col">Support</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Chrome</th>
                <td>120+</td>
                <td>Full</td>
            </tr>
            <tr>
                <th scope="row">Firefox</th>
                <td>118+</td>
                <td>Full</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="ui-table__wrapper">
    <table class="ui-table ui-table--compact ui-table--striped ui-table--bordered">
        <caption class="ui-table__caption">
            Package totals
        </caption>
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Count</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Components</th>
                <td>12</td>
            </tr>
            <tr>
                <th scope="row">Layouts</th>
                <td>5</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th scope="row">Total</th>
                <td>17</td>
            </tr>
        </tfoot>
    </table>
</div>
