@use'../../../styles/foundations/variables' as *;

.ui-article-hero {
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    &__body {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 2rem;
        margin-bottom: 2rem;

    }

    &__header {
        display: inline-block;
        margin-bottom: 1rem;
    }

    &__eyebrow {
        font-weight: 900;
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        border-bottom-width: 2px;
        color: var(--primary);
        border-color: var(--primary);
    }

    &__title {
        color: var(--black);
        letter-spacing: -0.05em;
        line-height: 0.95;
        font-weight: 800;
        font-size: 2.25rem;
        margin-bottom: 1.5rem;

    }

    &__subtitle {
        color: var(--slate-medium);
        line-height: 1.625;
        font-weight: 300;
        max-width: 42rem;
        font-size: 1.25rem;
    }

    &__meta-group {
        padding-left: 1.5rem;
        padding-bottom: 0.5rem;
        border-left-width: 2px;
        border-color: var(--gray-light);
    }

    &__author-label {
        color: var(--slate-medium);
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 0.1em;
        font-size: 10px;
        margin-bottom: 0.25rem;

    }

    &__author-name {
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 1.75rem;
        margin-bottom: 1rem;
    }

    &__published-label {
        color: var(--slate-medium);
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 0.1em;
        font-size: 10px;
        margin-bottom: 0.25rem;
    }

    &__date {
        font-style: italic;
        font-weight: 500;
        color: var(--slate);
    }

    &__image-wrapper {
        position: relative;
        border-radius: 0.125rem;
        box-shadow: 0 20px 25px -5px var(--black-10),
            0 8px 10px -6px var(--black-10);
        overflow: hidden;
        width: 100%;
        aspect-ratio: 21 / 9;
        margin-bottom: 4rem;
    }

    &__image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition-duration: 700ms;
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        filter: grayscale(20%);

    }

    &__overlay {
        position: absolute;
        inset: 0;
        background: linear-gradient(to top, var(--dark-6) 0%,
                var(--dark-3) 40%, transparent);
    }

}

@media (min-width: 768px) {

    .ui-article-hero {
        &__body {
            flex-direction: row;
        }

        &__intro {
            width: 75%;
        }

        &__title {
            font-size: 3.75rem;
            line-height: 1;
        }

        &__subtitle {
            font-size: 1.5rem;
            line-height: 2rem;

        }

        &__meta-group {
            width: 25%;
        }

    }
}