.ui-page {
    display: flex;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    flex-direction: column;
    overflow-x: hidden;
    min-height: 100vh;
    position: relative;
}