<ul class="ui-meta-list" aria-label="Article metadata">
    <li class="ui-meta-list__item">5 min read</li>
</ul>

<ul class="ui-meta-list ui-meta-list--inline ui-meta-list--with-separators" aria-label="Article metadata">
    <li class="ui-meta-list__item">
        <time datetime="2024-03-24">Mar 24, 2024</time>
    </li>
    <li class="ui-meta-list__item">5 min read</li>
    <li class="ui-meta-list__item">48k views</li>
</ul>

<dl class="ui-meta-list ui-meta-list--stacked" aria-label="Publication metadata">
    <div class="ui-meta-list__item">
        <dt class="ui-meta-list__label">Published</dt>
        <dd class="ui-meta-list__value">
            <time datetime="2024-10-15">October 15, 2024</time>
        </dd>
    </div>

    <div class="ui-meta-list__item">
        <dt class="ui-meta-list__label">Author</dt>
        <dd class="ui-meta-list__value">Elena Valery</dd>
    </div>
</dl>
