<header class="ui-topbar">
    <div class="ui-topbar__inner">
        <div class="ui-topbar__left">
            <a class="ui-topbar__brand">
                <div class="ui-topbar__logo">
                    <span class="material-symbols-outlined">broken_image</span>
                </div>

                <h1>Debil</h1>
            </a>
            <nav class="ui-topbar__nav">
                <a href="" class="ui-topbar__link">Home</a>
                <a href="" class="ui-topbar__link">Home</a>
                <a href="" class="ui-topbar__link">Home</a>
                <a href="" class="ui-topbar__link">Home</a>
                <a href="" class="ui-topbar__link">Home</a>
            </nav>
        </div>
        <div class="ui-topbar__actions">
            <button class="ui-topbar__search-button">
                <span class="material-symbols-outlined ui-topbar__search-icon">search</span>
            </button>
            <button class="ui-topbar__subscribe-button">subscribe</button>
            <button class="ui-topbar__menu-button"><span
                    class="material-symbols-outlined ui-topbar__menu-icon">menu</span>

            </button>
            <nav class="ui-topbar__mobile-nav">
                <a href="" class="ui-topbar__link">Home</a>
                <a href="" class="ui-topbar__link">Home</a>
                <a href="" class="ui-topbar__link">Home</a>
                <a href="" class="ui-topbar__link">Home</a>
                <a href="" class="ui-topbar__link">Home</a>
            </nav>
        </div>
    </div>

</header>